Service References/Account_WebService/Accounts_WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://exprohelp.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://exprohelp.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://exprohelp.com/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Account_BooksInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unit_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ledgercode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="database" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Account_BooksInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Account_BooksInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="processInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AC_UnitsLedger">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unit_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="database" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AC_UnitsLedgerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AC_UnitsLedgerResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="processInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AC_GetLedgerInfoForEntry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unit_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ledgerfor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="database" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AC_GetLedgerInfoForEntryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AC_GetLedgerInfoForEntryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="processInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AC_GetVoucherSummary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unit_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vch_type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vch_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="database" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AC_GetVoucherSummaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AC_GetVoucherSummaryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="processInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AC_VoucherPosting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unit_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vch_type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cr_Ledger" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dr_ledger" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="narration" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="voucher_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="database" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AC_VoucherPostingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AC_VoucherPostingResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="processInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AC_NewVoucherNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unit_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="voucher_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="database" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AC_NewVoucherNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AC_NewVoucherNoResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="processInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQueryResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQueryResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQueryResultResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryExecute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryExecuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryExecuteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Account_BooksInfoSoapIn">
    <wsdl:part name="parameters" element="tns:Account_BooksInfo" />
  </wsdl:message>
  <wsdl:message name="Account_BooksInfoSoapOut">
    <wsdl:part name="parameters" element="tns:Account_BooksInfoResponse" />
  </wsdl:message>
  <wsdl:message name="AC_UnitsLedgerSoapIn">
    <wsdl:part name="parameters" element="tns:AC_UnitsLedger" />
  </wsdl:message>
  <wsdl:message name="AC_UnitsLedgerSoapOut">
    <wsdl:part name="parameters" element="tns:AC_UnitsLedgerResponse" />
  </wsdl:message>
  <wsdl:message name="AC_GetLedgerInfoForEntrySoapIn">
    <wsdl:part name="parameters" element="tns:AC_GetLedgerInfoForEntry" />
  </wsdl:message>
  <wsdl:message name="AC_GetLedgerInfoForEntrySoapOut">
    <wsdl:part name="parameters" element="tns:AC_GetLedgerInfoForEntryResponse" />
  </wsdl:message>
  <wsdl:message name="AC_GetVoucherSummarySoapIn">
    <wsdl:part name="parameters" element="tns:AC_GetVoucherSummary" />
  </wsdl:message>
  <wsdl:message name="AC_GetVoucherSummarySoapOut">
    <wsdl:part name="parameters" element="tns:AC_GetVoucherSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="AC_VoucherPostingSoapIn">
    <wsdl:part name="parameters" element="tns:AC_VoucherPosting" />
  </wsdl:message>
  <wsdl:message name="AC_VoucherPostingSoapOut">
    <wsdl:part name="parameters" element="tns:AC_VoucherPostingResponse" />
  </wsdl:message>
  <wsdl:message name="AC_NewVoucherNoSoapIn">
    <wsdl:part name="parameters" element="tns:AC_NewVoucherNo" />
  </wsdl:message>
  <wsdl:message name="AC_NewVoucherNoSoapOut">
    <wsdl:part name="parameters" element="tns:AC_NewVoucherNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetQueryResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetQueryResult" />
  </wsdl:message>
  <wsdl:message name="GetQueryResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetQueryResultResponse" />
  </wsdl:message>
  <wsdl:message name="QueryExecuteSoapIn">
    <wsdl:part name="parameters" element="tns:QueryExecute" />
  </wsdl:message>
  <wsdl:message name="QueryExecuteSoapOut">
    <wsdl:part name="parameters" element="tns:QueryExecuteResponse" />
  </wsdl:message>
  <wsdl:portType name="Accounts_WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Account_BooksInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Display Account Book Ledger Info.</wsdl:documentation>
      <wsdl:input message="tns:Account_BooksInfoSoapIn" />
      <wsdl:output message="tns:Account_BooksInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AC_UnitsLedger">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Display Ledger of a Units</wsdl:documentation>
      <wsdl:input message="tns:AC_UnitsLedgerSoapIn" />
      <wsdl:output message="tns:AC_UnitsLedgerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AC_GetLedgerInfoForEntry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Accounts Ledger For Voucher Entry</wsdl:documentation>
      <wsdl:input message="tns:AC_GetLedgerInfoForEntrySoapIn" />
      <wsdl:output message="tns:AC_GetLedgerInfoForEntrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AC_GetVoucherSummary">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Voucher Summary at the type of voucher Entry</wsdl:documentation>
      <wsdl:input message="tns:AC_GetVoucherSummarySoapIn" />
      <wsdl:output message="tns:AC_GetVoucherSummarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AC_VoucherPosting">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Saving Voucher Information</wsdl:documentation>
      <wsdl:input message="tns:AC_VoucherPostingSoapIn" />
      <wsdl:output message="tns:AC_VoucherPostingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AC_NewVoucherNo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate Voucher No</wsdl:documentation>
      <wsdl:input message="tns:AC_NewVoucherNoSoapIn" />
      <wsdl:output message="tns:AC_NewVoucherNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQueryResult">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Dataset of against q Query from given database</wsdl:documentation>
      <wsdl:input message="tns:GetQueryResultSoapIn" />
      <wsdl:output message="tns:GetQueryResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryExecute">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Execute a Query</wsdl:documentation>
      <wsdl:input message="tns:QueryExecuteSoapIn" />
      <wsdl:output message="tns:QueryExecuteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Accounts_WebServiceSoap" type="tns:Accounts_WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://exprohelp.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Account_BooksInfo">
      <soap:operation soapAction="http://exprohelp.com/Account_BooksInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AC_UnitsLedger">
      <soap:operation soapAction="http://exprohelp.com/AC_UnitsLedger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AC_GetLedgerInfoForEntry">
      <soap:operation soapAction="http://exprohelp.com/AC_GetLedgerInfoForEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AC_GetVoucherSummary">
      <soap:operation soapAction="http://exprohelp.com/AC_GetVoucherSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AC_VoucherPosting">
      <soap:operation soapAction="http://exprohelp.com/AC_VoucherPosting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AC_NewVoucherNo">
      <soap:operation soapAction="http://exprohelp.com/AC_NewVoucherNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueryResult">
      <soap:operation soapAction="http://exprohelp.com/GetQueryResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryExecute">
      <soap:operation soapAction="http://exprohelp.com/QueryExecute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Accounts_WebServiceSoap12" type="tns:Accounts_WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://exprohelp.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Account_BooksInfo">
      <soap12:operation soapAction="http://exprohelp.com/Account_BooksInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AC_UnitsLedger">
      <soap12:operation soapAction="http://exprohelp.com/AC_UnitsLedger" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AC_GetLedgerInfoForEntry">
      <soap12:operation soapAction="http://exprohelp.com/AC_GetLedgerInfoForEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AC_GetVoucherSummary">
      <soap12:operation soapAction="http://exprohelp.com/AC_GetVoucherSummary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AC_VoucherPosting">
      <soap12:operation soapAction="http://exprohelp.com/AC_VoucherPosting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AC_NewVoucherNo">
      <soap12:operation soapAction="http://exprohelp.com/AC_NewVoucherNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueryResult">
      <soap12:operation soapAction="http://exprohelp.com/GetQueryResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryExecute">
      <soap12:operation soapAction="http://exprohelp.com/QueryExecute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Accounts_WebService">
    <wsdl:port name="Accounts_WebServiceSoap" binding="tns:Accounts_WebServiceSoap">
      <soap:address location="http://192.192.192.19/exprologic/Accounts_WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="Accounts_WebServiceSoap12" binding="tns:Accounts_WebServiceSoap12">
      <soap12:address location="http://192.192.192.19/exprologic/Accounts_WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>